{% extends 'base.html.twig' %}

{% block body %}
  <h1>Permission denied</h1>
  <p>You don't have permission to view this page</p>
  <p>
    <a href="{{ path('homepage') }}">Back to homepage</a>
  </p>
{% endblock %}
