{% extends 'base.html.twig' %}

{% block body %}
  <h1>Whooops!</h1>
  <p>The page you are trying to access is unavailable at this moment.</p>
  <p>
    <a href="{{ path('homepage') }}">Back to homepage</a>
  </p>
{% endblock %}
