{% extends 'errors/base.html.twig' %}

{% block body %}
  <h1>Page not found</h1>
  <p>The page you are trying to access don't exists</p>
  <p>
    <a href="{{ path('homepage') }}">Back to homepage</a>
  </p>
{% endblock %}
