###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.mysqldata/
/public/uploads/
/public/build/


###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
