{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-xs-6">
    <div class="box box-primary administrator-profile">
      <div class="box-body">
        <div class="row">
          <div class="col-xs-2">
            <img src="https://www.gravatar.com/avatar/{{ app.user.md5email }}" class="img-circle pull-left" alt="User Image">
          </div>
          <div class="col-xs-10">
            <h2>{{ administrator.name }}</h2>
            <h3>{{ administrator.username }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
