<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name='robots' content='noindex,nofollow'>
    <title>Error :: Dreamstone</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>
